body {
    background-color: #cecece;
}

code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
    background: #faf8f0;
}

.contentBlock {
    width: 500px;
    margin: 25px auto;
}

.lastTranslations {
    margin-top: 25px;
}